:ruby
  I18n.locale = item[:lang]
  content = find_and_preserve(yield)
!!!
%html
  = render "/shared/01_head"
  %body
    #main.wrap
      %header#header
        = render('/shared/02_header')
      %nav#menu
        = render('/shared/03_menu')
      %section#content
        = item[:kind] == "article" ? render('shared/06_article', :item => item, :content => content) : content
      %section#sidebar
        = render('/shared/04_sidebar')
      %section#main_footer.wrap
    %footer#footer.wrap
      = render('/shared/05_footer')
  

