!!!
%html
  = render "/shared/01_head"
  %body
    #main.wrap
      %header#header
        = render('/shared/02_header')
      %nav#menu
        = render('/shared/03_menu')
      %section#content
        = yield
      %section#sidebar
        = render('/shared/04_sidebar')
      %section#main_footer.wrap
    %footer#footer.wrap
      = render('/shared/05_footer')
  

